1.Kaggle 
2.UCI machine learning Repository
3.Google Datset Search

In [1]:
#pandas is required to load a dataset
import pandas as pd

In [2]:
dataset= pd.read_csv('/content/housing.csv')

In [3]:
dataset.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0